
        <div class="col-md-4" *ngFor="let ac of notas">
                <div class="card text-center">
                    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                            <i class="fab fa-artstation"></i><h3>Ac. {{ac.actividad}}</h3>

                    </div>
                    <img [src]="" class="card-img-top">
            
                    <div class="card-body">
                        <h4>  
                            <p>Nota Obtenida: {{ac.nota_obtenida}}</p>
                            
                        </h4>
            
                    </div>
                </div>
            
            </div>